
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.signup-container h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 20px;
}

.teacher-btn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #007bff; 
  color: white;
  transition: background-color 0.3s ease;
  min-width: 150px;
}
.student-btn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #E36403;
  color: white;
  transition: background-color 0.3s ease;
  min-width: 150px;
}
.teacher-btn:hover {
  background-color:  black;
}
.student-btn:hover {
  background-color: black;
}
