body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../../images/Landing_Page.jpg');
}

.teacher-login-container {
  width: 100%;
  max-width: 400px;
  margin:auto;
  background-color: transparent;
  padding: 180px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.teacher-login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color:white;
  font-weight: 600;
}

.teacher-login-form {
  display: flex;
  flex-direction: column;
   width: 400px;
}

.teacher-login-form input {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: white;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.teacher-login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.teacher-login-form button {
  padding: 12px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #007bff;
  width: 200px;
  position: relative;
  top: 100px;
  left: 25%;
  transition: background-color 0.3s ease;
}

.teacher-login-form button:hover {
  background-color: #5d7186;
}

.teacher-login-error {
  color: #d32f2f;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
.back-arrow {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-arrow::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(-45deg);
  margin: auto;
  transition: all 0.3s ease;
}

.back-arrow:hover::before {
  border-color: #ffd700;
  transform: rotate(-45deg) scale(1.2);
}
